@using GroceryDeliverySystem.Models;
@model List<Categories>

@{
    Stores store = ViewBag.Store;
}

<section class="py-5">
    <div class="container px-4 px-lg-5">
        <!-- Breadcrumb navigation -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light p-3 rounded">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@store.name</li>
            </ol>
        </nav>
        @if (Model.Count != 0)
        {
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var ctg in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100 shadow-sm rounded">
                            @if (!string.IsNullOrEmpty(ctg.imageURL))
                            {
                                <img class="card-img-top" src="@ctg.imageURL" alt="..." />
                            }
                            else
                            {
                                <img class="card-img-top" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="..." />
                            }
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@ctg.name</h5>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="/Store/@store.id/@ctg.id/">Go to Category</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="mt-2">No categories found in this store.</p>
        }
    </div>
</section>
