@{
    ViewBag.Title = "Contact Us";
}

<div class="row justify-content-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light p-3 rounded container mt-4">
            <li class="breadcrumb-item"><a href="../">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </nav>
    <div class="mt-5 col-md-6 col-lg-4">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Success"]
            </div>
        }

        <p class="fs-3 fw-bold text-center">Contact Us</p>
        <p class="text-center">Please fill out the form below to get in touch with us.</p>

        <form action="/Home/ContactUs/" method="post">
            <input type="hidden" class="form-control" value="0" id="isActive" name="isActive" />
            <div class="form-outline mb-4">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" required />
            </div>

            <div class="form-outline mb-4">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required />
            </div>

            <div class="form-outline mb-4">
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" class="form-control" placeholder="Enter the subject" required />
            </div>

            <div class="form-outline mb-4">
                <label for="message">Message</label>
                <textarea id="message" name="message" class="form-control" rows="5" placeholder="Enter your message" required></textarea>
            </div>

            <div class="d-flex justify-content-center">
                <input class="btn btn-primary btn-block mb-4" type="submit" value="Send" />
            </div>
        </form>
    </div>
</div>
