@{
    ViewBag.Title = "Forgot Password";
}

<div class="row justify-content-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light p-3 rounded container mt-4">
            <li class="breadcrumb-item"><a href="../">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
        </ol>
    </nav>
    <div class="mt-5 col-md-6 col-lg-4">
        @if (TempData["EmailError"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["EmailError"]
            </div>
        }
        else if (TempData["EmailSuccess"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["EmailSuccess"]
            </div>
        }

        <p class="fs-3 fw-bold text-center">Forgot your password?</p>
        <p class="text-center">Enter the email address associated with your account</p>
        <form action="/Home/ForgotPassword/" method="post">
            <div data-mdb-input-init class="form-outline mb-4">
                <label>Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required />
            </div>

            <div class="d-flex justify-content-center">
                <input class="btn btn-primary btn-block mb-4" data-mdb-button-init data-mdb-ripple-init type="submit" value="Reset Password" />
            </div>
        </form>
    </div>
</div>
